@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #0f172a;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
